@import 'style';
@import 'charity';
@import 'fonts';

.header-veka{
   background: rgba(240, 244, 248, 1);
   z-index: -10;
   position: relative;
   padding-top: 54px;
   padding-bottom: 50px;
 

    &__div{
        width: 512px;
        margin: 62px 75px;

    }
    &__block{
         padding-bottom: 50px ;
    }

    &__box{
        position: relative;
    }
    &__img{
        position: absolute;
        top: -500px;
        z-index: -5;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
        
    }
    &__image{
        position: absolute;
        top: -500px;
        right: 15px;
        z-index: -6;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
        

    }
    &__logo{
        position: absolute;
        top: -492px;
        right: 18px;
    }
}
.veka-text{
    color: #000;
    font-family: "exo 2 Bold";
    font-size: 16.968px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
    text-transform: uppercase;
   
   &_width_272{
    max-width: 272px;
   } 
}
.veka-content{

    &__box{
        display: grid;
      grid-template-columns: repeat(5, 2fr);
      column-gap: 32px;
      margin-top: 112px;
      margin-bottom: 124px;
    }

    &__div{
        width: 415px;
        height: 427px;
        border-radius: 20px;
        background: #DCEAF8;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: span 2;
        grid-row: span 1.5;
    }
    &__block{
        width: 304px;
        height: 304px;
        border-radius: 20px;
        background: #DCEAF8;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:-40px;
    }
   
    &__logo{
        height:240px;
        width:218px ;
       
    }
      &__img{
        grid-column: span 3;
        margin-top: 20px;
      }
      &__image{
        grid-column: span 2;
        margin-top: -40px;
        height: 304px;
    }
    &__photo{
        grid-column: span 2;
        margin-top: 38px;
        height: 226px;
        
    }
}
.partner{
    background: linear-gradient(180deg, rgba(237, 245, 253, 0.00) 0%, #EDF5FD 100%);
    &__text{
     width: 738px;
      font-family:"exo 2 Bold";
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px; 
      margin-top: 72px;
    }
    &__div{
        display: flex;
        gap: 32px;
        margin-top: 72px;
        padding-bottom: 77px;
    }
}
 .article-mini{
     width: 304px;
  
}
.official-site{
    background-color: #DCEAF8;
    &__box{
        max-width: 414px;
        display: flex;
        flex-direction: column;
        gap: 41px;
    }
    &__block{
        display: flex;
        gap: 146px;
        padding-top: 100px;
        padding-bottom: 100px;
        justify-content: center;
    }
 
    &__link{
        color: #2F80ED;
        text-decoration: underline;
    }
    &__img{
        height: 300px;
        width: 430px;
    }
    &__div{
        position: relative;
    }
    &__photo{
        position: absolute;
        top: -25px;
        right: -25px;
        height: 80px;
        width: 80px;
    }
    &__image{
        position: absolute;
        top:250px;
        left: -25px;
        height: 80px;
        width: 80px;
    }
}
@media (max-width: 1440px) {

}
@media (max-width:1280px) {
    .header-veka__div{
        margin: 112px 65px;
        
    }
 
  .header-subtitle{
    font-size: 18px;
  }
  .header-veka__image,.header-veka__img{
    top: -450px
  }
  .header-veka__logo{
    top:-445px;
  }
    .veka-content__img{
        margin-top: 70px;
        width: 100vw;
    }

    .veka-content__div{
        grid-column: unset;
        margin-top: 20px;
    }
    .veka-content__box{
        grid-template-columns: repeat(3, 2fr);
        margin-top: unset;
    }
    .veka-content__block{
        margin-top: 40px;
        grid-column: span 2;
        height: unset;
        width: unset;
    }
    .veka-content__image{
        margin-top: 40px;
        grid-column: unset;
        height: unset;
    }
    .veka-content__photo{
        grid-column: span 2;
        width: 100vw;
        height: unset;
    }
}
@media (max-width: 1024px){
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }
    .header-veka{
        padding-bottom: unset;
    }
    .header-veka__img{
      max-width: 60%;
      height: 422px;
      top: -450px
      
    }
    .header-veka__logo{
        top: -445px;
    }
    .header-veka__image{
        border-radius: 50px;
        max-width: 600px;
        top: -450px
    }
    .header-veka__div{
        max-width: 312px;
        margin: 80px 65px;
    }
    .header-subtitle{
        font-size: 18px;
    }
    .partner__div{
        flex-wrap: wrap;
        justify-content: center;
    }
    .partner__text{
        text-align: center;
        max-width: 1000px;
        width: unset;
    }
    
    .partner__title{
        text-align: center;
    }
   
    .veka-content__image{
        width: 100%;
       
    }
   
    .veka-content__block{
        width: unset;
        height: unset;
    }
    .official-site__block{
        flex-wrap: wrap;
        gap: 100px;
    }
    .official-site__box{
        max-width: unset;
    }
    .article-mini{
        max-width: 270px;
    }
}
@media (max-width: 768px){
   
    .veka-content__box {
        grid-template-columns: repeat(2, 2fr);
        column-gap: unset;
    }
    .veka-content__img{
        grid-column: span 2;
       
    }
    .veka-content__block{
         grid-column: unset;
         margin-top: 30px;
    }
    .veka-content__photo{
        grid-column: unset;
    
    }
    .veka-content__div{
        width: 90%;
        height: 95%;
    }
    .veka-content__image {
        width: 42vw;}

    .veka-text{
        font-size: 12px;
        padding: 10px;
    }
    .veka-content__box {
        grid-template-columns: repeat(2, 1fr);
    }
    .veka-content__logo{
        height: 50vh;
    }
    .header-veka__img{
        height: 55vh;
        top: -400px;
        
       
    }
    .header-veka__image{
        width: 95vw;
        height: 55vh;
        border-radius: 50px;
        top: -400px;
        right: unset;
        max-width: unset;
    }
    .header-veka__logo{
        top: -392px;
        width: 80px;
    }
    .header-title{
        font-size: 22px;
    }
    .header-subtitle{
        font-size: 12px;
    }
    .header-veka__div{
       max-width: 200px;
       margin: 80px 30px;
    }
    .official-site__image,.official-site__photo{
        height: 50px;
     }
    
}
@media (max-width: 480px){
    .header-veka__logo{
        top: -200px;
        height: 50px;
        right: 10px;
    }
    .header-veka__image{
        height: 35vh;
        top: -220px;
        width: 90vw;
}
    .header-veka__img {
        height: 35vh;
        top: -220px;}

     .header-veka__div{
    margin-top: 30px;
         margin-bottom:-20px ;
     }
     .header-title{
        font-size: 16px;
        max-width: 110px;
     }
     
     .header-subtitle {
            font-size: 10px;
            max-width: 110px;
            margin:23px 0 ;
        }
     .official-site__box{
        text-align: center;
     }
     .official-site__img{
        width: 90%;
        height: 90%;
     }
     .official-site__image,.official-site__photo{
        height: 40px;
     }
     .official-site__image{
        top:78%;
     }
     .official-site__photo{
        top: -20px;
        right: 0;
     }
     .veka-text{
        font-size: 10px;
     }
    
}